absl-py==0.8.1
alabaster==0.7.12
asn1crypto==0.24.0
astor==0.8.0
astroid==2.1.0
astropy==3.1
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
Django==2.2.2
django-chartjs==1.5.0
django-extensions==2.2.2
django-geojson==2.12.0
django-leaflet==0.25.0
grpcio==1.24.3
gunicorn==20.0.4
importlib-metadata==0.6
imutils==0.5.3
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.3
jupyterlab-server==0.2.0
numpy==1.17.3
numpydoc==0.8.0
oauthlib==3.1.0
pathlib2==2.3.3
patsy==0.5.1
pep8==1.7.1
pickleshare==0.7.5
Pillow==5.3.0
pkginfo==1.4.2
pluggy==0.8.0
ply==3.11
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.10.0
psutil==5.4.8
psycopg2-binary==2.8.4

