{% extends 'base.html' %}

{% block content %}

<body uk-height-viewport>
    <div class="uk-section uk-section-primary uk-light uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
        
        <div class="uk-container uk-text-center">
            <h1 id = "test"></h1>
            <h1>กรุณาใส่รหัส</h1>
    
            <form  method="post">
                {% csrf_token %}
                <input id="password" name="password" class="uk-input uk-form-width-medium uk-form-large uk-text-center" type="text" maxlength="5" placeholder="XXXXX">
                <br><br>
                <button type="submit"  class="uk-button uk-button-default uk-background-default uk-width-1-1" style="background-color: white;color: gray">ตกลง</button>
            </form>   
            
    
        </div>
    </div>


   
</body>


{% endblock %}